.logo {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-content: center;
  padding: 1rem;
  cursor: default;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

.logo h1 span {
  display: block;
  font-size: 1rem;
  font-weight: 400;
}

.logo svg {
  width: 80px;
  fill: #fff;
}
