.main-menu-wrapper {
  box-shadow: 0 0 20px rgb(0 0 0 / 25%);
  z-index: 2;
  width: 100%;
}

.main-menu {
  border-radius: 0;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.search-bar-wrapper {
  gap: 1rem;
  align-items: flex-start;
}

.search-bar {
  position: relative;
  display: flex;
  gap: 1rem;
}

.search-bar .clear-button {
  position: absolute;
  bottom: 0.3rem;
  right: 0.3rem;
  background-color: #fff;
  outline: none;
  border: 0;
}

.search-bar .input {
  padding-right: 5rem;
  width: 100%;
  text-overflow: ellipsis;
}

@media screen and (max-width: 500px) {
  .main-menu {
    gap: 0.5rem;
  }
  .search-bar-wrapper {
    display: grid;
  }
}

@media screen and (min-width: 501px) {
  .main-menu {
    gap: 2rem;
  }
  .search-bar-wrapper {
    display: flex;
  }
}

@media screen and (min-width: 1000px) {
  .search-bar .input {
    width: 400px;
  }
}
