.candidate-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 735px) {
  .candidate-wrapper {
    width: 500px;
  }
}

@media screen and (max-width: 734px) {
  .candidate-wrapper {
    width: calc(100vw - 2rem);
  }
}
