.logo {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-content: center;
  padding: 1rem;
  cursor: default;
  text-decoration: none;
  color: #000;
}

.logo .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo .heading {
  font-size: 2rem;
  font-weight: 600;
}

.logo svg {
  width: 80px;
  fill: #000;
}

.logo:hover,
.logo:hover svg {
  color: var(--action-color-hover);
  fill: var(--action-color-hover);
  cursor: pointer;
}
