.clear-button {
  width: 3rem;
  height: 3rem;
}

.clear-button svg {
  width: 1.5rem !important;
  height: 1.5rem !important;
  color: var(--action-color);
}

.clear-button:hover {
  cursor: pointer;
}

.clear-button:hover svg {
  color: var(--action-color-hover);
}
