.input-field {
  position: relative;
}

.input-field input {
  display: block;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: var(--border-radius);
  border: 2px solid black;
  width: 100%;
}

.input-field label {
  font-weight: 500;
  font-size: 1.2rem;
}

.input-field input:hover,
.input-field input:focus {
  border: 2px solid var(--action-color);
  outline: none;
}

.with-label {
  margin-top: 0.5rem;
}

.input-field .checkmark {
  position: absolute;
  bottom: 1.3rem;
  right: 1rem;
  color: var(--ok-color);
}
