.form-controls {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.error input {
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.25);
}

.error::after {
  content: "Please fill out this field.";
  color: red;
  font-weight: 400;
}
