:root {
  --border-radius: 0.3rem;
  --background-color: #2c2c2c;
  --action-color: #095aba;
  --action-color-hover: #2680eb;
  --error-color: #e34850;
  --warning-color: #e68619;
  --ok-color: #2d9d78;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body * {
  transition: all 0.1s ease-out;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #001228;
  opacity: 1;
  background-image: radial-gradient(#095aba 2px, transparent 2px),
    radial-gradient(#095aba 2px, #001228 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: #fff;
}

.app {
  text-align: center;
  display: grid;
}
