@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap")
layer(base);

@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-blue-dark: #2c2c2c;
  --color-blue: #095aba;
  --color-red: #dc2626;
  --color-orange: #e68619;
  --color-green: #2d9d78;
  --color-gray: #ccc;

  --font-sans:
    Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility link-button {
  @apply bg-blue hover:bg-blue/80 flex h-10 items-center justify-center gap-2 rounded-full px-6 font-medium text-white uppercase duration-100;
}

@utility link-button-outlined {
  @apply border-blue text-blue flex h-10 items-center justify-center gap-2 rounded-full border-2 border-solid bg-transparent px-6 font-medium uppercase duration-100 hover:bg-slate-200 dark:border-sky-400 dark:text-sky-400 dark:hover:bg-transparent dark:hover:opacity-80;
}

@layer base {
  h1 {
    @apply text-center text-3xl font-bold uppercase;
  }
  h2 {
    @apply text-center text-xl font-bold uppercase;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  justify-content: center;
  background-color: #001228;
  opacity: 1;
  background-image:
    radial-gradient(#095aba 2px, transparent 2px),
    radial-gradient(#095aba 2px, #001228 2px);
  background-size: 5rem 5rem;
  background-position:
    0 0,
    2.5rem 2.5rem;
}

#root {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

#root,
.app {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

input[type="date"] {
  padding-right: 1.875rem;
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 0.3rem;
}

.date-input::-webkit-calendar-picker-indicator {
  filter: invert(0);
  cursor: pointer;
}

.dark .date-input::-webkit-calendar-picker-indicator {
  filter: invert();
}
