.card {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  background-color: white;
  align-content: center;
  gap: 1rem;
  margin: 0.5rem 0;
}

.card label {
  display: block;
  text-align: left;
}

.card p {
  text-align: left;
}
